.service-filter-container {
	background: #fff;
	border: 1px solid $border-color-gray;
	padding: 15px;

	.column {
		margin-top: 10px;

		@media screen and (min-width: $screen-md-min) {
			margin-top: 0;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	.btn {
		margin-top: 15px;
		font-weight: bold;
		font-size: 1.2em;
	}

	label {
		font-weight: bold;
		font-size: 1.1em;
	}
}