.service-filter-container {
	background: #fff;
	border: 1px solid #ededed;
	padding: 15px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
	border-radius: 6px;

	.column {
		margin-top: 10px;

		@media screen and (min-width: $screen-md-min) {
			margin-top: 0;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	.btn {
		margin-top: 15px;
		font-weight: bold;
		font-size: 1.2em;
	}

	label {
		font-weight: bold;
		font-size: 1.1em;
	}
}