.items-block {
	border: 1px solid $border-color-gray;
	background: #fff;
	display: flex;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
	
	@media screen and (min-width: $screen-sm-min) {
		border-radius: 6px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.root-container {
		display: inline-block;
		flex: 1;

		.root-nav {

			.nav-head {
				padding: 15px 20px;
				background: #f1f1f1;
				color: $gray-text;
				font-weight: bold;
				font-size: 1.2em;
				border-bottom: 1px solid $border-color-gray;
				cursor: pointer;

				&:hover {
					color: $brand-primary;
				}

				@media screen and (min-width: $screen-sm-min) {
					border-right: 1px solid $border-color-gray;
				}
			}

			.nav-head:last-child {
				border-bottom: none;
				box-shadow: none;
			}

			.active {
				position: relative;
				background: #fff;
				color: $brand-primary;
				border-bottom: 1px solid $border-color-gray;
				border-left: 3px solid $border-color-gray;
				border-right: none;
				cursor: default;
				box-shadow: -1px 3px 3px rgba(0,0,0,0.1);
			}
		}
	}

	.sub-container {
		flex: 1;
		padding: 15px 20px;
		border-bottom: 1px solid $border-color-gray;

		@media screen and (min-width: $screen-sm-min) {
			padding: 25px 50px;
			border-bottom: none;
			box-shadow: none;
		}

		@media screen and (min-width: $screen-md-min) {
			flex: 2;
		}

		h1 {
			border-bottom: 1px solid $brand-primary;
			padding-bottom: 10px;
			margin: 0 0 10px 0;
			font-size: 26px;

			@media screen and (min-width: $screen-md-min) {
				margin: 10px 0 20px 0;
				padding-bottom: 15px;
				font-size: 34px;
			}
		}

		.btn {
			margin-bottom: 15px;
		}

		.sub-nav {
			display: flex;
			flex-wrap: wrap;

			li {
				padding: 3px 0px;
				width: 100%;

				@media screen and (min-width: $screen-md-min) {
					width: 50%;
				}

				a {
					color: $gray-text;
					font-size: 1.1em;

					@media screen and(min-width: $screen-md-min) {
						font-size: 1.2em;
					}

					&:hover {
						color: $brand-primary;
						text-decoration: none;
					}

					span {
						margin-right: 8px;
					}
				}
			}
		}
	}
}