.items-block {
	border: 1px solid #d7d7d7;
	background: #fff;
	display: flex;

	.left {
		display: inline-block;
		flex: 1;

		.main-nav {

			li {
				padding: 15px 20px;
				background: #f6f6f6;
				color: #7d8793;
				font-weight: bold;
				font-size: 1.2em;
				border-bottom: 1px solid #d7d7d7;
				border-right: 1px solid #d7d7d7;
				cursor: pointer;

				&:hover {
					color: $primary-green;
				}
			}

			li:last-child {
				border-bottom: none;
				box-shadow: none;
			}

			.active {
				position: relative;
				background: #fff;
				color: $primary-green;
				border-bottom: 1px solid #d7d7d7;
				border-left: 3px solid #d7d7d7;
				border-right: none;
				cursor: default;
				box-shadow: -1px 3px 3px rgba(0,0,0,0.1);
			}
		}
	}

	.right {
		flex: 1;
		padding: 25px 50px;

		@media screen and (min-width: 992px) {
			flex: 2;
		}

		h1 {
			border-bottom: 1px solid $primary-green;
			padding-bottom: 15px;
			margin-bottom: 20px;
		}

		.btn {
			margin-bottom: 15px;
		}

		.sub-nav {
			display: flex;
			flex-wrap: wrap;

			li {
				width: 50%;
				padding: 3px 0px;

				a {
					color: #7d8793;
					font-size: 1.2em;

					&:hover {
						color: $primary-green;
						text-decoration: none;
					}

					span {
						margin-right: 8px;
					}
				}
			}
		}
	}
}