.checklist-component {

	.checklist-error {
		color: $brand-danger;
		font-size: 12px;
	}
}

.checklist-item {

	&:first-child .checklist-header {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	&:last-child {

		.checklist-description {
			border-bottom: 1px solid #e6ebf1;
		}

		.checklist-header {
			border-bottom: 1px solid #e6ebf1;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}

	}

	.checklist-header {
		display: flex;
		align-items: center;
		padding: 10px;
		background-color: #f6f9fc;
		border: 1px solid #e6ebf1;
		border-bottom: none;

		.checklist-checkbox {
			width: 30px;
			display: flex;
			align-items: center;
			justify-content: flex-start;

			.checkbox-icon {
				display: inline-block;
				width: 18px;
				height: 18px;
				background-color: $brand-primary;
				cursor: pointer;

				&.unchecked {
					@include mask-icon('../svg/blank_square.svg');
				}

				&.checked {
					@include mask-icon('../svg/check_box.svg');
				}
			}
		}

		.checklist-title {
			flex: 1;
		}

		.checklist-read-more-container {
			width: 30px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}

	.checklist-description {
		padding: 10px;
		border: 1px solid #e6ebf1;
		border-bottom: none;
	}

}