.checklist-component {

	.checklist-error {
		color: $brand-danger;
		font-size: 12px;
	}
}

.checklist-item {

	.checklist-header {
		display: flex;
		align-items: flex-start;

		.checklist-checkbox {
			width: 30px;

			.checkbox-icon {
				display: inline-block;
				width: 18px;
				height: 18px;
				background-color: $brand-primary;
				cursor: pointer;

				&.unchecked {
					@include mask-icon('../svg/blank_square.svg');
				}

				&.checked {
					@include mask-icon('../svg/check_box.svg');
				}
			}
		}

		.checklist-title {
			flex: 1;
		}

		.checklist-read-more-container {
			width: 30px;
			text-align: right;
		}
	}

}