.checklist-component {

	.checklist-error {
		color: $brand-danger;
		font-size: 12px;
	}
}

.checklist-item {

	.checklist-header {

		.checklist-checkbox {

		}

		.checklist-read-more-container {
			float: right;
			display: inline-block;

		}
	}

}