.profile-component {

	.user-header {
		position: relative;
		top: -20px;
		margin: 0 -15px;
		background: #fafafa;
		padding: 15px;
		border-bottom: 1px solid $border-color-gray;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;

		.profile-picture {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			margin: 0 auto;
			border: 2px solid $brand-primary;
		}

		.user-name {
			margin: 10px 0 0 0;
			text-align:  center;

			@media screen and (min-width: $screen-sm-min) {
				text-align: left;
				margin: 0;
			}
		}
	}

	.profile-picture-desktop {
		max-width: 100%;
		border-radius: 6px;
		box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
	}

	.profile-info {
		margin-top: 15px;

		.profile-username {
			color: lighten($text-color, 5%);
		}

		i {
			color: $navbar-icon-color;
			margin-right: 5px;
		}
	}
}