.mobile-search-header {
	background: #4D545D;
	padding: 15px;
}

.nav-search-form {
	display: flex;
	position: relative;
	width: 100%;
	height: auto;
	padding: 2px 2px 2px 15px;
	background: #fff;
	border-radius: 3px;

	&:hover .glyphicon {
		color: $primary-green;
	}

	.glyphicon {
		color: #d7d7d7;
		font-size: 2em;
		line-height: 1.4;
		margin-right: 15px;
		transition: color ease-out-in 200ms;
	}
}

.search-input {
	width: 100%;

	input[type="text"] {
		display: block;
		width: 100%;
		height: 38px;
		background: #fff;
		box-shadow: none;
		border: none;
		color: #333;
		letter-spacing: 1px;
		font-size: 1.2em;

		&:focus {
			outline: none;
		}
	}

	::-webkit-input-placeholder {
		color: #d7d7d7;
		font-weight: bold;
		letter-spacing: 1px;
	}

	:-moz-placeholder {
		color: #d7d7d7;
		font-weight: bold;
		letter-spacing: 1px;
		opacity: 1;
	}

	::-moz-placeholder {
		color: #d7d7d7;
		font-weight: bold;
		letter-spacing: 1px;
		opacity: 1;
	}
}

.btn-search {
	padding: 6px 20px;
	border-radius: 0px 3px 3px 0px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	background: $primary-green;
	letter-spacing: 1px;
	transition: all ease-out-in 200ms;

	&:hover {
		background: $dark-green;
		color: #fff;
	}
}