.list-bids {

	li {
		border: 1px solid $border-color-gray;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.18);
		margin-bottom: 10px;
		border-radius: 6px;

		.bid-header {
			padding: 5px 15px;
			background-color: #f1f1f1;
			border-bottom: 1px solid $border-color-gray;
			border-top-right-radius: 6px;
			border-top-left-radius: 6px;

			.bid-user {
				margin-top: 5px;
			}

			.user-reviews {
				margin-left: 5px;
				display: inline-block;

				i {
					color: #FFC100;
				}
			}

			.history-padding {
				@media screen and (min-width: $screen-sm-min) {
					padding: 6px 0px;
				}
			}

			.bid-accept-confirm {
				margin: 10px 0 7px 0;
				position: relative;

				@media screen and (min-width: $screen-sm-min) {
					margin: 15px 0 7px 0;
				}

				&:before {
					content: "";
					position: absolute;
					top: -13px;
					left: 40px;
					width: 0; 
					height: 0; 
					border-left: 13px solid transparent;
					border-bottom: 13px solid darken(#faebcc, 10%); 
					border-right: 13px solid transparent;

					@media screen and (min-width: $screen-sm-min) {
						left: auto;
						right: 165px;
					}
				}

				.confirm-buttons {
					margin-top: 5px;
				}
			}

			.accepted-bid {
				display: inline-block;
				padding: 6px 12px;
				color: $dark-black;
				font-weight: bold;

				i {
					margin-right: 3px;
				}
			}
		}

		.bid-info {
			padding: 15px;

			.info-section {
				margin-bottom: 10px;

				@media screen and (min-width: $screen-md-min) {
					margin-bottom: 0;
				}
			}

			.info-head {
				color: $brand-primary;
				font-weight: 500;
			}
		}

		.bid-description {
			padding: 10px 15px;
		}

		.bid-head-right {
			margin: 5px 0;

			@media screen and (min-width: $screen-sm-min) {
				text-align: right;
				margin: 0;
			}

			.btn {
				padding: 5px 6px;
			}
		}

		.bid-time {
			display: inline-block;
			font-style: italic;
			font-size: 12px;
			line-height: 20px;
			padding-left: 10px;

			@media screen and (min-width: $screen-sm-min) {
				text-align: right;
				float: right;
				padding: 6px 0 6px 10px;
			}
		}
	}
}