.tags-input-container {
	height: auto;
	width: 100%;
	position: relative;

	.tooltip-error {
		position: absolute;
		padding: 4px 10px;
		background: $brand-danger;
		color: #fff;
		top: -30px;
		right: 0;
	}

	.tags-input {
		position: relative;
		width: 100%;
		min-height: 36px;
		overflow: hidden;
		display: inline-block;
		box-sizing: border-box;
		z-index: 1;
		border: 1px solid $border-color-gray;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		cursor: text;
		padding: 0 8px 4px 8px;

		&.hasError {
			border: 1px solid $brand-danger;
		}

		.tag {
			display: inline-block;
			background: $body-bg;
			border: 1px solid darken($border-color-gray, 10%);
			padding: 1px 4px;
			margin: 4px 4px 0 0;
			cursor: default;

			i {
				margin-left: 7px;
				cursor: pointer;

				&:hover {
					color: $brand-danger;
				}
			}
		}

		input {
			background: #fff;
			border: 0px solid transparent;
			width: 40px;
			margin-top: 5px;

			&:focus {
				outline: none;
			}
		}
	}

	.tags-help {
		position: absolute;
		width: 100%;
		height: auto;
		max-height: 125px;
		overflow-y: scroll;
		z-index: 5;
		background: #fff;
		border: 1px solid $border-color-gray;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
		padding: 10px;

		li {
			font-size: 1.1em;
			margin-bottom: 2px;
			cursor: pointer;

			&:hover {
				color: $primary-green;
			}
		}
	}
}