.tags-input-container {
	height: auto;
	width: 100%;

	.tags-input {
		position: relative;
		width: 100%;
		min-height: 36px;
		overflow: hidden;
		display: inline-block;
		box-sizing: border-box;
		z-index: 1;
		border: 1px solid $border-color-gray;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		cursor: text;
		padding: 0 8px 4px 8px;

		.tag {
			display: inline-block;
			background: $body-bg;
			border: 1px solid darken($border-color-gray, 10%);
			padding: 1px 4px;
			margin: 4px 4px 0 0;
			cursor: default;

			i {
				margin-left: 7px;
				cursor: pointer;

				&:hover {
					color: $brand-danger;
				}
			}
		}

		input {
			background: #fff;
			border: 0px solid transparent;
			width: 40px;
			margin-top: 5px;

			&:focus {
				outline: none;
			}
		}
	}
}