.user-view {
	
	@media screen and (min-width: $screen-md-min) {
		display: flex;
	}

	.user-navigation {
		
		@media screen and (min-width: $screen-md-min) {
			flex: 1;
		}

		.user-nav-button {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		.user-nav {
			display: none;
			list-style-type: none;

			@media screen and (min-width: $screen-md-min) {
				display: block;
			}

			li {
				margin-bottom: 15px;

				a {
					color: #6D717A;
					font-size: 15px;
					display: flex;
					align-items: center;

					&.active {
						color: $brand-primary;
						font-weight: 500;

						i {
							background-color: $brand-primary !important;
						}
					}

					&:hover {
						text-decoration: none;
						font-weight: 500;

						i {
							background-color: lighten($text-color, 15%);
						}
					}

					&:focus {
						text-decoration: none;
					}
				}
			}
		}
	}

	.user-content {
		@media screen and (min-width: $screen-md-min) {
			flex: 3;
		}
	}
}