/node_modules
/public/storage
/vendor
/.idea
/storage/oauth-private.key
/storage/oauth-public.key
Homestead.json
Homestead.yaml
.env
/public/js/app.js
/public/js/manifest.js
/public/js/vendor.js
/public/css/app.css