.show_reviews-component {
	
	.rating-container {
		text-align: center;

		@media screen and (min-width: $screen-sm-min) {
			text-align: left;
		}

		.review-username {
			margin: 5px 15px 10px 0;

			@media screen and (min-width: $screen-sm-min) {
				float: left;
			}
		}

		.review-ratings {

			@media screen and (min-width: $screen-sm-min) {
				
			}

			.ratings-component {
				color: $navbar-icon-color;

				@media screen and (min-width: $screen-sm-min) {
					display: inline-block;
				}

				.rating-avg {
					margin-right: 7px;
				}
			}
		}
	}

	.ratings-details-container {
		background: #fafafa;
		border-top: 1px solid $border-color-gray;
		border-bottom: 1px solid $border-color-gray;
		margin: 15px -15px;
		padding: 15px;

		@media screen and (min-width: $screen-sm-min) {
			display: flex;
		}

		.detail-container {
			margin-bottom: 10px;

			@media screen and (min-width: $screen-sm-min) {
				flex: 1;
				margin-bottom: 0;
			}

			.detail-heading {
				font-weight: 500;
			}
		}
	}

}