.fade-in-enter-active {
	-webkit-animation: fade-in 700ms ease-out forwards;
			animation: fade-in 700ms ease-out forwards;
	-webkit-animation-delay: 0.2s;
			animation-delay: 0.2s;
	opacity: 0;
}

.fade-in-slow-enter-active {
	-webkit-animation: fade-in 700ms ease-out forwards;
			animation: fade-in 700ms ease-out forwards;
	-webkit-animation-delay: 0.5s;
			animation-delay: 0.5s;
	opacity: 0;
}

@keyFrames fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}