.notification-slide-down-up-enter-active {
	-webkit-animation: slide-du-in 400ms ease-out forwards;
			animation: slide-du-in 400ms ease-out forwards;
}

.notification-slide-down-up-leave-active {
	-webkit-animation: slide-du-out 800ms ease-out forwards;
			animation: slide-du-out 800ms ease-out forwards;
}

@keyFrames notification-slide-du-in {
	from {
		transform: translateY(-100px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyFrames notification-slide-du-out {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(-100px);
		opacity: 0;
	}
}