.notification-settings-list {
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		margin-bottom: 30px;

		.notification-setting-header {
			display: flex;
			align-items: center;

			.notification-setting-title {
				flex: 1;
				font-weight: 500;
			}

			.notification-setting-control {
				display: flex;
				justify-content: flex-end;

				.input_control_checkbox {
					margin: 0;
				}
			}
		}

		.notification-setting-content {
			margin-top: 10px;
			@extend .gray-sub-text;
		}
	}
}