.desktop-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    .desktop-navigation__nav-item {

        a {
            color: $navbar-color;
            display: flex;
            font-weight: 500;
            text-decoration: none !important;
            padding: 9px 20px;

            &:hover {
                color: $brand-primary;
            }
        }
    }
}