@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500);
@import "../variables";
@import "../vendors/bootstrap.min.css";
@import "../_buttons.scss";
@import "../mixins.scss";
@import "../icons.scss";
@import "../includes/Home/handle-service-steps.scss";

body {
    font-family: $font-family-sans-serif;
	color: $text-color;
	line-height: $line-height-base;
	font-size: $font-size-base;
}


@import './header.scss';
@import './hero.scss';
@import './sections.scss';
@import './q-a.scss';