.btn {
	border-radius: 0;
	padding: 5px 9px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.25);

	&:focus,
	&:active {
		outline: none !important;
	}

	.processing {
		margin-left: 5px;
	}
}

.btn-flat {
	padding: 6px 12px;
	border: 1px solid transparent;

	&:focus,
	&:active {
		outline: none !important;
	}
}

.btn-primary {
	background-color: $primary-green;
	border-color: $dark-green;

	&:hover {
		background-color: $dark-green;
		border-color: $darkest-green;
	}

	&:focus,
	&:active {
		background-color: $primary-green !important;
		border-color: $dark-green !important;
	}
}

.btn-default {
	background-color: #e6e5e5;
	border-color: #adadad;

	&:hover {
		background-color: darken(#e6e5e5, 10%);
		border-color: darken(#adadad, 10%);
	}
}