.form-control {
	border-radius: 0;
	border: 1px solid $border-color-gray;

	&:focus {
		border-color: $primary-green;
	}
}

.help-block {
	margin: 1px 0;
	font-size: 12px;
}

.has-error .help-block, .has-error .control-label, 
.has-error .radio, .has-error .checkbox, 
.has-error .radio-inline, .has-error .checkbox-inline, 
.has-error.radio label, .has-error.checkbox label, 
.has-error.radio-inline label, .has-error.checkbox-inline label {
	color: $brand-danger;
}