form.loading {
	position: relative;
	pointer-events: none;
	cursor: default;

	&:before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 100;
		background: rgba(255,255,255,.8);
	}

	&:after {
		position: absolute;
		content: "";
		top: 150px;
		left: 50%;
		margin: -1.5em 0 0 -1.5em;
		width: 3em;
		height: 3em;
		border-radius: 500rem;
		border-style: solid;
		border-width: 0.2em;
		border-color: $brand-primary rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.1);
		box-shadow: 0 0 0 1px transparent;
		visibility: visible;
		z-index: 101;
		animation: form-spin .6s linear;
		-webkit-animation: form-spin .6s linear;
		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
	}
}

@keyframes form-spin {
	from{
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.form-section {
	border-bottom: 1px solid #e6ebf1;
	padding: 15px 0;
	
	@media screen and (min-width: $screen-sm-min) {
		display: flex;
		align-items: flex-start;
	}

	.form-section-controls {
		@media screen and (min-width: $screen-sm-min) {
			padding-left: 15px;
		}
	}
}

.form-section-description {
	margin-bottom: 20px;

	@media screen and (min-width: $screen-sm-min) {
		flex: 1;
		margin-bottom: 0;
		padding-right: 15px;
	}
	

	.description-header {
		margin-bottom: 5px;
		font-size: 15px;
		font-weight: 500;
		color: $text-color;
	}

	.description-details {
		font-size: 13px;
		color: #97A9B5;
	}

}

.form-section-controls {

	@media screen and (min-width: $screen-sm-min) {
		flex: 2;
	}
}

.req {
	color: $brand-danger;
}

.control-container {
	margin-bottom: 15px;

	&.has-errors {

		.help-block,
		.control-label {
			color: $brand-danger;
		}

		.form-control {
			border-color: $brand-danger;
		}
	}


	&.half-width {
		@media screen and (min-width: $screen-sm-min) {
			width: 50%;
		}
	}
}

.control-label {
	font-weight: 500;
	font-size: 11px;
	color: #97A9B5;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin-bottom: 2px;
}

.input-data {
	color: #222;
	font-size: 15px;
	margin-top: 3px;
}

label.radio-btn {
	font-weight: normal;
	cursor: pointer;
	margin-bottom: 0;

	input[type=radio] {
		cursor: pointer;
	}
}

.form-control {
	border: 1px solid #e2e2e2;
	padding: 10px;
	border-radius: 3px;
	height: 40px;
	box-shadow: none;

	&:focus {
		border-color: $brand-primary;
		box-shadow: 0px 0px 2px 1px rgba(0,153,153,0.6);
	}

}

.form-group label {
	margin-bottom: 2px;
	font-weight: 500;
}

.form-group small {
	color: #97A9B5;
}

.form-control[readonly] {
	background: #fff;
}

.calendar .cell:not(.blank):not(.disabled).day:hover, 
.calendar .cell:not(.blank):not(.disabled).month:hover, 
.calendar .cell:not(.blank):not(.disabled).year:hover {
	border: 1px solid $brand-primary !important;
}

.help-block {
	margin: 1px 0;
	font-size: 12px;
}

.has-error .help-block, .has-error .control-label, 
.has-error .radio, .has-error .checkbox, 
.has-error .radio-inline, .has-error .checkbox-inline, 
.has-error.radio label, .has-error.checkbox label, 
.has-error.radio-inline label, .has-error.checkbox-inline label {
	color: $brand-danger;
}