.list-unstyled {
	margin: 0;
}

.full-width {
	width: 100%;
}

.no-underline {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.text-left {
	text-align: left !important;
}

.clickable {
	cursor: pointer;
}

.cursor-default {
	cursor: default !important;
}

.is-inline-block {
	display: inline-block !important;
}

.is-relative {
	position: relative;
}

.no-border {
	border: none !important;
}

.no-pre-style {
	padding: 0;
	margin: 0;
	font-size: inherit;
	border-radius: 0;
	line-break: inherit;
	color: inherit;
	background-color: transparent;
	border: none;
	font-family: inherit;
}

.img-responsive {
	max-width: 100%;
}

.must-show {
	display: block !important;
}

.vertical-centered {
	display: flex;
	align-items: center;
}

.v-center {
	align-items: center;
}

.justify-end {
	justify-content: flex-end;
}

.is-flex {
	display: flex;

	&.c_c {
		align-items: center;
		justify-content: center;
	}
}

.is-flex-sm {
	@media screen and (min-width: $screen-sm-min) {
		display: flex;

		&.wrap {
			flex-wrap: wrap;
		}

		&.is-row {
			margin: 0 -15px;
		}

		.is-half {
			flex: 1 1 50%;
			padding: 0 15px;
		}
	}
}

.flex-1 {
	flex: 1;
}

.flex-1-sm {
	@media screen and (min-width: $screen-sm-min) {
		flex: 1;
	}
}