.list-unstyled {
	margin: 0;
}

.full-width {
	width: 100%;
}

.margin-25 {
	margin: 25px 0px;
}

.margin-40 {
	margin: 40px 0;
}

.margin-50 {
	margin: 50px 0px;
}

.margin-bottom-7 {
	margin-bottom: 7px !important;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.no-underline {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.clickable {
	cursor: pointer;
}