.list-unstyled {
	margin: 0;
}

.full-width {
	width: 100%;
}

.no-underline {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.clickable {
	cursor: pointer;
}

.no-pre-style {
	padding: 0;
	margin: 0;
	font-size: inherit;
	border-radius: 0;
	line-break: inherit;
	color: inherit;
	background-color: transparent;
	border: none;
	font-family: inherit;
}

.img-responsive {
	max-width: 100%;
}

.must-show {
	display: block !important;
}

.vertical-centered {
	display: flex;
	align-items: center;
}