html,
body {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	background: $body-bg;
}

a {
	outline: 0;
}

.site-wrapper {
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 35px 0 0 0;
	overflow: hidden;
	z-index: 250;
	transition: transform .5s;
}

body.mobile-menu-open .site-wrapper {
	transform: translateX(265px);
}


#site {
	width: 100%;
	height: 100%;
	position: relative;
}

#site-wrap {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 50px);
	min-width: 100%;
	position: relative;
	top: 0;
	bottom: 100%;
	left: 0;
	z-index: 1;
	transition: left 0.5s ease-in-out;

	@media screen and (min-width: $screen-md-min) {
		height: calc(100vh - 60px);
	}
}

.main-content {
	flex: 1 0 auto;
	background: $body-bg;
}

.content {
	padding: 40px 0;

	&.smaller-content {
		@media screen and (min-width: $screen-md-min) {
			padding: 40px 150px;
		}
	}
}

.white-container {
	background: #fff;
	box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);
	padding: 20px 15px;
	margin-bottom: 15px;
	border-radius: 4px;

	@media screen and (min-width: $screen-md-min) {
		margin-bottom: 0;
	}
}

.contentSection-heading {
	font-size: 16px;
}

.main-area-with-sidebar {

	@media screen and (min-width: $screen-md-min) {
		display: flex;
	}

	.main-area {
		margin-bottom: 30px;

		@media screen and (min-width: $screen-md-min) {
			flex: 2;
			margin-bottom: 0;
		}

		@media screen and (min-width: $screen-lg-min) {
			flex: 3;

			&.large-sidebar {
				flex: 2 !important;
			}
		}
	}

	.main-area-sidebar {

		@media screen and (min-width: $screen-md-min) {
			flex: 1;
			margin-left: 30px;

			&.left {
				margin-left: 0;
				margin-right: 30px;
			}
		}
	}
}

.white-contentSection {
	box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);
	background: #fff;
	border-radius: 4px;

	.white-contentSection-header {
		padding: 15px 20px;

		&.is-gray {
			background: #f6f9fc;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}

		&.has-link {
			
			h3 {
				margin-bottom: 5px;
			}

			@media screen and (min-width: $screen-sm-min) {
				display: flex;
				align-items: center;

				h3 {
					flex: 2;
					margin-bottom: 0;
				}

				a {
					flex: 1;
					text-align: right;
					font-size: 13px;
				}
			}
			
		}

		&.has-actions {
			display: flex;

			.header-content {
				flex: 2;

				@media screen and (min-width: $screen-sm-min) {
					flex: 3;
				}
			}

			.header-actions {
				flex: 1;
				align-self: flex-start;
				justify-content: flex-end;
			}
		}

		h3 {
			font-size: 16px;
			font-weight: 500;
			margin: 0;
		}
	}

	.gray-contentSection-content {
		background: #f6f9fc;
		border-top: 1px solid #e6ebf1;
		padding: 15px 20px;
	}

	.white-contentSection-content {
		border-top: 1px solid #e6ebf1;
		padding: 20px 20px;
	}

	.white-contentSection-footer {
		padding: 15px;
		display: flex;
		justify-content: flex-end;
		background: #f6f9fc;
		border-top: 1px solid #e6ebf1;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}

.transparent-contentSection {

	.transparent-contentSection-header {
		padding: 15px 0;
		border-bottom: 1px solid #cfd2d7;

		h3 {
			font-size: 16px;
			font-weight: 500;
			margin: 0;
		}

		&.has-link {
			display: flex;
			align-items: center;

			h3 {
				flex: 2;
			}

			a {
				flex: 1;
				text-align: right;
				font-size: 13px;
			}
		}
	}

	.transparent-contentSection-content {
		padding: 15px 0;
	}
}

.items-list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: flex;
		padding: 6px 15px;

		&.gray-item {
			background: #f4f8fb;
			border-bottom: 1px solid #e8ecef;
		}

		&.white-item {
			background: #fff;
			border-bottom: 1px solid #e8ecef;
		}

		.item-content {
			flex: 8;

			.item-header {
				font-weight: 500;
				font-size: 15px;
			}

			.item-sub-data {
				color: #97A9B5;
			}
		}

		.item-go-to {
			flex: 1;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
}

.items-list-default {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		margin-bottom: 25px;

		&.has-left-border {
			padding-left: 15px;
			border-left: 2px solid;

			&.info {
				border-color: $brand-info;
			}

			&.warning {
				border-color: $brand-warning;
			}

			&.success {
				border-color: $brand-success;
			}

			&.critical {
				border-color: $brand-danger;
			}
		}
	}
}


.items-list-icon {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: flex;
		margin-bottom: 15px;
		padding: 10px 0;
		position: relative;

		&.has-go-to {
			cursor: pointer;

			&:after {
				content: '';
				width: 15px;
				height: 15px;
				position: absolute;
				top: calc(50% - 7.5px);
				right: 0;
				@include mask-icon('../svg/heroicons-ui/svg/icon-cheveron-right.svg');
				background-color: $light-icon-color;
			}

			&:hover {
				.icon {
					background-color: darken(#97A9B5, 20%);
				}

				&:after {
					background-color: darken(#97A9B5, 20%);
				}
			}

			&.exact-active {
				cursor: default;

				.icon {
					background-color: $brand-primary;
				}

				.item-list-icon-content {
					color: #282c2f;
					font-weight: 500;
				}

				&:after {
					background-color: $light-icon-color;
				}
			}

		}

		.item-list-icon {
			flex: 1;
		}
	
		.item-list-icon-content {
			padding-left: 5px;
			flex: 4;
		}
	}
}