html,
body {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

@media(min-width:768px) {
	html,
	body {
		width: auto;
		height: auto;
	}
}

a {
	outline: 0;
}

#site {
	width: 100%;
	height: 100%;
	position: relative;
}

#site-wrap {
	min-height: calc(100% - #{$mobile-nav-height});
	min-width: 100%;
	background: $body-bg;
	position: relative;
	top: 0;
	bottom: 100%;
	left: 0;
	z-index: 1;
	transition: left 0.5s ease-in-out;
}

.content {
	padding: 40px 0;
}

.white-container {
	background: #fff;
	box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);
	padding: 20px 15px;
	margin-bottom: 15px;
	border-radius: 4px;

	@media screen and (min-width: $screen-md-min) {
		margin-bottom: 0;
	}
}

.white-contentSection {
	box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);
	background: #fff;
	border-radius: 4px;

	.white-contentSection-header {
		padding: 15px 20px;

		h3 {
			font-size: 16px;
			font-weight: 500;
			margin: 0;
		}
	}

	.gray-contentSection-content {
		background: #f6f9fc;
		border-top: 1px solid #e6ebf1;
		padding: 15px 20px;
	}

	.white-contentSection-content {
		border-top: 1px solid #e6ebf1;
		padding: 20px 20px;
	}
}

.items-list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: flex;
		padding: 6px 15px;

		&.gray-item {
			background: #f4f8fb;
			border-bottom: 1px solid #e8ecef;
		}

		.item-content {
			flex: 8;

			.item-header {
				font-weight: 500;
				font-size: 15px;
			}

			.item-sub-data {
				color: #97A9B5;
			}
		}

		.item-go-to {
			flex: 1;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
}