.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;	
}

.mt20 {
	margin-top: 20px;
}

.mt50 {
	margin-top: 50px;
}

.mb7 {
	margin-bottom: 7px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb30 {
	margin-bottom: 30px;
}

.mb40 {
	margin-bottom: 40px;
}

.mtb20 {
	margin: 20px 0;
}

.mr5 {
	margin-right: 5px;
}

.margin-25 {
	margin: 25px 0px;
}

.margin-40 {
	margin: 40px 0;
}

.margin-50 {
	margin: 50px 0px;
}

.margin-bottom-7 {
	margin-bottom: 7px !important;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.pb5 {
	padding-bottom: 5px;
}

.pb20 {
	padding-bottom: 20px;
}

.ptb5 {
	padding: 5px 0;
}

.plr3 {
	padding: 0 3px;
}