.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;	
}

.mt15 {
	margin-top: 15px !important;
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
	margin-top: 30px !important;
}

.mt50 {
	margin-top: 50px;
}

.mb7 {
	margin-bottom: 7px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb30 {
	margin-bottom: 30px;
}

.mb40 {
	margin-bottom: 40px;
}

.mtb10 {
	margin: 10px 0;
}

.mtb20 {
	margin: 20px 0;
}

.mr3 {
	margin-right: 3px;
}

.mr5 {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px;
}

.mr15 {
	margin-right: 15px;
}

.ml3 {
	margin-left: 3px;
}

.ml5 {
	margin-left: 5px;
}

.ml10 {
	margin-left: 10px;
}

.margin-25 {
	margin: 25px 0px;
}

.margin-40 {
	margin: 40px 0;
}

.margin-50 {
	margin: 50px 0px;
}

.margin-bottom-7 {
	margin-bottom: 7px !important;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.pb5 {
	padding-bottom: 5px;
}

.pb10 {
	padding-bottom: 10px !important;
}

.pb20 {
	padding-bottom: 20px;
}

.ptb5 {
	padding: 5px 0;
}

.plr3 {
	padding: 0 3px;
}

.pt3 {
	padding-top: 3px;
}

.pt30 {
	padding-top: 30px !important;
}

.ptb10lr15 {
	padding: 10px 15px !important;
}