body {
	font-family: $font-family-sans-serif;
	color: $text-color;
	line-height: $line-height-base;
	font-size: $font-size-base;
}

.is-italic {
	font-style: italic !important;
}

.is-bold {
	font-weight: bold !important;
}

.is-weight-500 {
	font-weight: 500 !important;
}

.is-bold-italic {
	@extend .is-italic;
	@extend .is-bold;
}