
// Body
$body-bg: #f3f3f1;

// Borders
$border-color-gray: #d7d7d7;

// Brands
$brand-primary: #009999;
$brand-primary-hover: #00caca;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #cc0000;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'Ubuntu', sans-serif;;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-color: #fdfdfe;
$navbar-icon-color: #adb0b5;
$navbar-bg: #313a45;
$navbar-border-color: $brand-primary;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Colors
$dark-black: #4D545D;
$gray-text: #7d8793;
$primary-green: #55AE3A;
$dark-green: darken($primary-green, 10%);
$darker-green: darken($primary-green, 15%);
$darkest-green: darken($primary-green, 25%);

// Navigation
$mobile-nav-height: 50px;