.icon_right_arrow {
	display: inline-block;
	width: 25px;
	height: 25px;
	@include icon('../svg/right_arrow.svg');
}

.icon_go_back {
	display: inline-block;
	width: 15px;
	height: 15px;
	@include mask-icon('../svg/go_back_arrow.svg');
	background-color: $brand-primary;
}

.icon {
	display: inline-block;
	cursor: pointer;

	&.wh12 {
		width: 12px;
		height: 12px;
	}

	&.wh15 {
		width: 15px;
		height: 15px;
	}

	&.wh20 {
		width: 20px;
		height: 20px;
	}
}

.icon_delete {
	@include mask-icon('../svg/delete.svg');
	background-color: $text-color;

	&:hover {
		background-color: $brand-danger;
	}
}

.icon_confirmed {
	@include mask-icon('../svg/confirm.svg');
	background-color: $brand-success;
}

.icon_danger {
	@include icon('../svg/danger.svg');
}

.icon_arrow_right {
	@include mask-icon('../svg/right_arrow.svg');
	background-color: #97A9B5;
}

.icon_document_check {
	@include mask-icon('../svg/document_check.svg');
	background-color: #97A9B5;
}

.icon_bid {
	@include mask-icon('../svg/bid.svg');
	background-color: #97A9B5;
}