.icon_right_arrow {
	display: inline-block;
	width: 25px;
	height: 25px;
	@include icon('../svg/right_arrow.svg');
}

.icon_go_back {
	display: inline-block;
	width: 15px;
	height: 15px;
	@include mask-icon('../svg/go_back_arrow.svg');
	background-color: $brand-primary;
}

.icon {
	display: inline-block;
	cursor: pointer;

	&.primary {
		background-color: $brand-primary;
	}

	&.light-gray {
		background-color: $light-icon-color;
	}

	&.wh10 {
		width: 10px;
		height: 10px;
	}

	&.wh12 {
		width: 12px;
		height: 12px;
	}

	&.wh15 {
		width: 15px;
		height: 15px;
	}

	&.wh20 {
		width: 20px;
		height: 20px;
	}

	&.wh40 {
		width: 40px;
		height: 40px;
	}
}

.icon_arrow_right {
	@include mask-icon('../svg/right_arrow.svg');
	background-color: #97A9B5;
}

.icon_bell {
	@include mask-icon('../svg/bell.svg');
}

.icon_bid {
	@include mask-icon('../svg/bid.svg');
	background-color: #97A9B5;
}

.icon_clock {
	@include mask-icon('../svg/clock.svg');
	background-color: #97A9B5;
}

.icon_confirmed {
	@include mask-icon('../svg/confirm.svg');
	background-color: $brand-success;
}

.icon_credit_card {
	@include mask-icon('../svg/credit_card.svg');
}

.icon_down_chevron {
	@include mask-icon('../svg/down_chevron.svg');
}

.icon_danger {
	@include icon('../svg/danger.svg');
}

.icon_delete {
	@include mask-icon('../svg/delete.svg');
	background-color: $text-color;

	&:hover {
		background-color: $brand-danger;
	}
}

.icon_question_mark {
	@include mask-icon('../svg/question_mark.svg');
}

.icon_download {
	@include mask-icon('../svg/download.svg');
	background-color: #fff;
}

.icon_document_check {
	@include mask-icon('../svg/document_check.svg');
}

.icon_exit {
	@include mask-icon('../svg/exit.svg');
}

.icon_gears {
	@include mask-icon('../svg/settings_gears.svg');
}

.icon_image {
	@include mask-icon('../svg/image.svg');
	background-color: #97A9B5;
}

.icon_list {
	@include mask-icon('../svg/list.svg');
}

.icon_retweet {
	@include mask-icon('../svg/retweet.svg');
}

.icon_monitor {
	@include mask-icon('../svg/monitor.svg');
}

.icon_map_pin {
	@include mask-icon('../svg/map_pin.svg');
}

.icon_on {
	@include mask-icon('../svg/on.svg');
	background-color: $brand-primary;
}

.icon_off {
	@include mask-icon('../svg/off.svg');
	background-color: $brand-primary;
}

.icon_paper_plane {
	@include mask-icon('../svg/paper_plane.svg');
}

.icon_star_empty {
	@include mask-icon('../svg/star_empty.svg');
	background-color: #FFC100;
}

.icon_star_full {
	@include mask-icon('../svg/star_full.svg');
	background-color: #FFC100;
}

.icon_star_half {
	@include mask-icon('../svg/star_half.svg');
	background-color: #FFC100;
}

.icon_two_users {
	@include mask-icon('../svg/two_users.svg');
}

.icon_up_chevron {
	@include mask-icon('../svg/up_chevron.svg');
}

.icon_user {
	@include mask-icon('../svg/user.svg');
}