.message-component {
	border: 1px solid $border-color-gray;
	border-bottom: none;
	padding: 20px;
	display: flex;

	&.me {
		background-color: #fafafa;
	}

	.left {
		flex: 1;

		.user-image {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 2px solid $brand-primary;
		}
	}

	.right {
		flex: 3;

		@media screen and (min-width: $screen-sm-min) {
			flex: 6;
		}

		@media screen and (min-width: $screen-md-min) {
			flex: 7;
		}

		@media screen and (min-width: $screen-lg-min) {
			flex: 8;
		}

		.user-name {
			margin-bottom: 7px;

			.name {
				font-weight: 500;
				color: #222;
				display: inline-block;
			}

			a {
				font-weight: 500;
			}
		}

		.message-time {
			text-align: right;
			font-size: 80%;
			font-style: italic;
		}
	}
}