.send_message-component {
	background: #fafafa;
	padding: 20px;
	border-radius: 0 0 6px 6px;
	border: 1px solid $border-color-gray;

	textarea {
		resize: none;
		border-color: #ddddd;
	}

	button {
		font-weight: bold;
		margin: 10px 0 0 0;
		width: 100%;

		@media screen and (min-width: $screen-md-min) {
			width: auto;
			float: right;
		}
	}
}