.services-list {
	margin: 10px 0;

	@media screen and (min-width: $screen-sm-min) {
		display: flex;
		flex-wrap: wrap;
		margin: 10px -15px;
	}
}

.services-view {

	.load-more {

		&:before {
			content: "";
			display: block;
			height: 1px;
			background-color: darken($border-color-gray, 10%);
			position: absolute;
			left: 0;
			top: 15px;
			right: calc(50% + 60px);
		}

		&:after {
			content: "";
			display: block;
			height: 1px;
			background-color: darken($border-color-gray, 10%);
			position: absolute;
			right: 0;
			top: 15px;
			left: calc(50% + 60px);
		}
	}
}