.services-list {
	margin: 40px 0;

	@media screen and (min-width: $screen-sm-min) {
		display: flex;
		flex-wrap: wrap;
		margin: 40px -15px;
	}

	.services-multi-container {
		margin-bottom: 30px;

		@media screen and (min-width: $screen-sm-min) {
			flex: 0 0 50%;
			padding: 0 15px;
		}

		.services-multi-title {
			font-weight: 500;
			font-size: 15px;
		}
	}
}

.services-component {

	.load-more {

		&:before {
			content: "";
			display: block;
			height: 1px;
			background-color: $border-color-gray;
			position: absolute;
			left: 15px;
			top: 15px;
			right: calc(50% + 60px);
		}

		&:after {
			content: "";
			display: block;
			height: 1px;
			background-color: $border-color-gray;
			position: absolute;
			right: 15px;
			top: 15px;
			left: calc(50% + 60px);
		}
	}
}