.service-details-view {

	.service-bids {

		.time-left {
			border-bottom: 1px solid #e6ebf1;
			margin-bottom: 10px;
			padding-bottom: 15px;

			.timer-component {
				font-size: 24px;
				font-weight: 500;
			}

			.ends {
				font-size: 13px;
			}
		}

		.active-bids {
			margin-bottom: 5px;
			font-size: 16px;

			span {
				font-weight: 500;
				font-size: 20px;
			}

			a {
				font-weight: 500;
				margin-left: 5px;
			}
		}
	}

	.service-title {
		font-size: 18px;
		text-align: center;
		padding: 10px 0;
	}

	.service-description {
		white-space: pre-wrap;
		padding-top: 30px !important;
	}

	.service-details {
		display: flex;
		align-items: center;

		.detail-item {
			flex: 1;
			text-align: center;

			.detail-header {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 10px;
			}
		}
	}

	.service-user {
		display: flex;
		align-items: flex-start;

		.user-avatar-container {
			flex: 1;
			padding-right: 20px;

			img {
				width: 100px;
				height: 100px;
				box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
				border-radius: 50%;
			}
		}

		.user-details-container {
			flex: 3;

			.user-username {
				font-weight: 500;
				font-size: 16px;
				margin-bottom: 5px;
			}
		}
		
	}
}