.mobile-nav-open {
	overflow: hidden;
}

.mobile-navigation {
	position: relative;
}

.mobile-nav-header {
	position: relative;
	height: $mobile-nav-height;
	width: 100%;
	background: $navbar-bg;
}

.mobile-nav {
	padding: $mobile-nav-height 0 0 0;
	width: 300px;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
	list-style-type: none;
	background: $navbar-bg;

	.nav-item a {
		display: flex;
		align-items: center;
		padding: 12px 35px;
		color: #fff;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		text-shadow: 0 1px 2px rgba(0,0,0,0.18);
		font-size: 15px;
		text-decoration: none;
		font-weight: 500;

		&.active {
			color: $brand-primary;
		}
	}

	.auth-user {
		display: flex;
		padding: 10px 15px;
		box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
		

		.auth-avatar {
			width: 40px;
			height: 40px;
			border: 2px solid $brand-primary;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;

			&.defaultAvatar {
				@include icon('../svg/defaultAvatar.svg');
			}
		}

		.auth-name {
			padding-left: 15px;
			color: #fff;
			font-weight: 500;
			align-self: center;
		}
	}

	.user-mobile-sub-nav {
		list-style-type: none;
		border-left: 5px solid $brand-primary;
		padding: 10px 0 10px 60px;
		position: relative;
		background-color: darken($navbar-bg, 2%);
		margin-top: 1px;

		&:before {
			content: "";
			position: absolute;
			left: 30px;
			top: 10px;
			bottom: 24px;
			width: 1px;
			background-color: lighten($navbar-bg, 10%);

			@media screen and (min-width: $screen-sm-min) {
				bottom: 26px;
			}
		}

		li {

			a {
				color: #FFF;
				display: block;
				padding: 3px 0;
				position: relative;
				line-height: 22px;

				@media screen and (min-width: $screen-sm-min) {
					padding: 5px 0;
				}

				&.active {
					background-color: transparent;
					color: $brand-primary;
					font-weight: bold;
				}

				&:before {
					content: "";
					position: absolute;
					left: -30px;
					top: 14px;
					height: 1px;
					width: 20px;
					background-color: lighten($navbar-bg, 10%);

					@media screen and (min-width: $screen-sm-min) {
						top: 16px;
					}
				}
			}
		}
	}
}

#mobile-nav-toggle {
	position: absolute;
	height: $mobile-nav-height;
	width: 35px;
	left: 15px;
	padding-top: 22px;

	&:focus {
		outline: none;
	}

	span,
	span:before,
	span:after {
		cursor: pointer;
		border-radius: 1px;
		height: 5px;
		width: 35px;
		background: $navbar-icon-color;
		position: absolute;
		display: block;
		content: "";
		transition: all 0.5s ease-in-out;
	}

	span:before {
		top: -10px;
	}

	span:after {
		bottom: -10px;
	}
}

body.mobile-nav-open {
	
	#mobile-nav-toggle {
		span {
			background: transparent;
		}
		
		span:before,
		span:after {
			top: 0;
		}

		span:before {
			-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
					transform: rotate(45deg);
		}

		span:after {
			-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
					transform: rotate(-45deg);
		}
	}

	#site-wrap {
		left: 300px;
	}

	.overlay {
		display: block;
	}
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(0,0,0,0.7);
	z-index: 5;
	box-shadow: inset 5px 0px 5px rgba(0,0,0,0.7);
}