.invoice_details-component {

	.invoice-totals-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;

		.totals-section	{
			text-align: center;

			.totals-header {
				font-size: 13px;
				color: #97A9B5;
			}

			.totals-value {
				font-size: 22px;
				font-weight: 500;
			}
		}
	}

}